.navbar {
  border-bottom: 1px solid black;
  /* margin-bottom: 10px; */
  padding-left: 30px;
  padding-right: 30px;
}
/* .btn-homePage, .btn-savedPage {
  border: 1px solid black;
} */
.btn-logoutPage {
  border-radius: 5;
  border: 1px solid black;
}
/* .btn-dashboardPage {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
} */
/* .btn-inventoryPage {
  border-radius: 0;
  border: 1px solid black;
} */
/* .btn-supportPage {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
} */
.App-logo{
  width: 80px;
}

.bg-primary {
  /* background-color: #415b93 !important; */
  /* background-color: #244579 !important; */
  /* background-color: #304f80 !important; */
  /* background-color: #edf0f5 !important; */
  /* color: white; */
  background-image: linear-gradient(to bottom right, rgb(21, 134, 255),  #007BFF, rgb(0, 50, 103));
  /* background: -webkit-linear-gradient(top left, rgb(5, 135, 5), rgb(0, 81, 108), rgb(11, 11, 181));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#logoText{
  /* font-size: 40px; */
  
}

#logoText{
  color: rgb(2, 150, 25);
  text-align: center;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
   text-shadow:
    3px 3px 0 #000;
}