/* .login {
    background-color: lightgray;
    width: 100%;
    
}

.row {
    margin: 0;
}

.sign-in {
    border: 1px solid black;
    border-radius: 8px;
    outline-style: double;
    outline-color:dodgerblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
} */

#landing-logo{
    padding: 20px;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}
