.totalValueCard {
  background: #fff;
  border-radius: 2px;
  height: 140px;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  position: relative;
  width: 250px;
  /* width: 300px; */
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  /* text-align: left; */
}

.totalValueCard > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  /* background:#6CADDC; */
  /* background-image: linear-gradient(141deg, #6CADDC 0%, #1fc8db 51%, #2cb5e8 75%); */
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}
.totalValueCard > .img-container > img {
  width: 60%;
}

.totalValueCard > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  text-align: center;
  /* background:#6CADDC; */
  background-image: linear-gradient(to bottom right, rgb(21, 134, 255),  #007BFF, rgb(0, 50, 103));
  color: white;
  line-height: 1rem;
  padding-bottom: 1rem;
}

.totalValueCard > ul {
  /* list-style-type: none; */
  /* padding-inline-start: 0; */
}

.totalValueCard > .content > ul > li {
  margin-top: 18px;
}

.totalValueCard > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.totalValueCard > .remove:hover {
  color: #d50000;
}

.totalValueCard > .content > ul > li > a {
  color: white;
}

.totalValueCard > h5{
  text-align: center;
}

#total-value {
  text-align: center;
  font-size: 50px;
  color: green;
}